{% extends 'core_app/base.html' %}
{% load static %}

{% block head_content %}
<title>Games Page</title>
<style>
    body { 
        background-color: #f0f8ff; 
        font-family: 'Arial', sans-serif; 
        margin: 0; 
        padding: 0; 
    }

    .privacy-policy {
        color: #ffffff; 
        font-weight: bold;
        text-align: center;
        display: block;
        margin-top: 30px;
        transition: color 0.2s ease-in-out;
        text-decoration: none;
    }
    .privacy-policy:hover {
        color: #ffbb00;
        text-decoration: underline;
    }

    .main-banner { 
        padding-top: 10vh;
        display: flex; 
        align-items: center; 
        justify-content: center; 
        color: rgb(255, 255, 255); 
        text-shadow: 2px 2px 8px rgba(0,0,0,0.9); 
        flex-direction: column;
    }

    .container { 
        padding: 50px; 
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card { 
        border-radius: 15px;
        border: 0px !important;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
        overflow: hidden; 
        width: 42%;
        margin: 10px 10px;
        background-color: white; 
        margin-bottom: 40px;
    }

    .card:hover { 
        transform: scale(1.05); 
        box-shadow: 0 8px 16px rgba(0,0,0,0.3); 
    }

    .card img { 
        height: 200px; 
        object-fit: cover; 
        border-radius: 15px 15px 0 0; 
    }

    .card-body { 
        text-align: center; 
        padding: 10px; 
    }

    .card-title { 
        font-size: 1.1rem; 
        font-weight: bold; 
        color: #000000; 
        margin-bottom: 5px; 
    }

    .card-text { 
        font-size: 0.8rem; 
        color: #555; 
    }
</style>
{% endblock %}

{% block body_content %}
{% include 'core_app/navbar.html' %}

<div class="main-banner">
    <p class="display-5 fw-bold" style="text-align: center;">Games Page</p>
</div>

<div class="container">
    {% if games %}
        {% for game in games %}

            <div class="card game-card" onclick="window.location.href='{% url game.game_url task_id=game.game_id %}';" style="cursor: pointer;">
                <img src="{% static 'core_app/images/'|add:game.image %}" class="card-img-top" alt="{{ game.name }}">
                <div class="card-body text-center">
                    <h5 class="card-title">Location: {{ game.name }}</h5>
                    <p class="card-text">{{ game.description }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="no-games-message">
            <p>Visit Locations on the map to unlock games</p>
            <button class="no-games-button" onclick="window.location.href='{% url 'home' %}'">Go to Map</button>
        </div>
    {% endif %}
</div>

<p style="width: 100%;"><a href="{% url 'privacy_policy' %}" class="privacy-policy h5">Privacy Policy</a></p>

{% endblock %}