{% extends 'core_app/base.html' %}
{% load static %} <!--To use anything within the static folder, this needs to be present-->


{% block head_content %} <!--Header content for HTML files extending base.html goes in here-->
<title>Home Page</title>

<style>
    body { 
        background-color: #f0f8ff; 
        font-family: 'Arial', sans-serif; 
        margin: 0; 
        padding: 0; 
    }

    .privacy-policy {
        color: #ffffff; 
        font-weight: bold;
        text-align: center;
        display: block;
        margin-top: 30px; /* Adjusts spacing */
        transition: color 0.2s ease-in-out;
        text-decoration: none;
    }
    .privacy-policy:hover {
        color: #ffbb00; /* Changed for better contrast */
        text-decoration: underline;
    }

    .main-banner { 
        padding-top: 5vh;
        display: flex; 
        align-items: center; 
        justify-content: center; 
        color: #ffffff;
        text-shadow: 4px 4px 8px rgba(0,0,0,0.9);
        -webkit-text-stroke: 2px black;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .container { 
        padding: 50px; 
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-between;
        color: #ffffff;
        
        
    }

    .card { 
        border-radius: 15px;
        border: 0px !important;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
        overflow: hidden; 
        width: 42%;
        margin: 10px 10px;
        background-color: white; 
        margin-bottom: 40px;
    }

    .card:hover { 
        transform: scale(1.05); 
        box-shadow: 0 8px 16px rgba(0,0,0,0.3); 
    }

    .card img { 
        height: 200px; 
        object-fit: cover; 
        border-radius: 15px 15px 0 0; 
    }

    .card-body { 
        text-align: center; 
        padding: 10px; 
    }

    .card-title { 
        font-size: 1.1rem; 
        font-weight: bold; 
        color: #000000; 
        margin-bottom: 5px; 
    }

    .card-text { 
        font-size: 0.8rem; 
        color: #555; 
    }
    /* Change to rows of 1 for narrow mobile screens */
    @media (max-aspect-ratio: 1/1) {
        .card {
            width: 100%;
            margin: 10px 0;
        }

        .container {
            padding: 20px;
        }
    }
    
    /* New button for certificate */
    .certificate-btn {
        position: relative;
        bottom: 0px;
        background-color: #28a745;
        color: white;
        padding: 0px 25px;
        font-size: 1rem;
        border: none;
        border-radius: 20px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        transition: background-color 0.3s;
    }

    .certificate-btn:hover {
        background-color: #218838;
    }

    /* Styles for the modal window */
    .modal-content { 
        background-color: rgb(50, 50, 50) !important; 
        border-radius: 30px !important;
        padding: 0px 20px;
        font-family: 'Trebuchet MS', sans-serif;
    }
</style>
{% endblock %}


{% block body_content %} <!--Body content for HTML files extending base.html goes in here-->
{% include 'core_app/navbar.html' %} <!--This adds the navbar (from navbar.html) onto this page-->

<div class="main-banner">
    <p class="display-4 fw-bold" style="text-align: center;">
    {% if user.is_authenticated %} <!--If the user is logged in-->
        Welcome, {{ user }}!
    {% else %} <!--If the user is not logged in-->
        Welcome!
    {% endif %}
    </p>

    {% if user.is_authenticated %} <!--If the user is logged in-->
        <p class="h3 fw-bold" style="text-align: center;">Reward Points: {{ user.reward_pts }}</p>
    {% else %} <!--If the user is not logged in-->
        <p class="h4 fw-bold" style="text-align: center;">Log In To Play The Game</p>
    {% endif %}     
</div>


<div class="container">
    {% if games %}
        {% for game in games %}

            <div class="card game-card" onclick="window.location.href='{% url game.game_url task_id=game.game_id %}';" style="cursor: pointer;">
                <img src="{% static 'core_app/images/'|add:game.image %}" class="card-img-top" alt="{{ game.name }}">
                <div class="card-body text-center">
                    <h5 class="card-title">Location: {{ game.name }}</h5>
                    <p class="card-text">{{ game.description }}</p>
                </div>
            </div>
        {% endfor %}
    {% elif user.is_authenticated %}
        <div class="no-games-message">
            <p>Visit Locations on the map to unlock games</p>
            <button class="no-games-button" onclick="window.location.href='{% url 'home' %}'">Go to Map</button>
        </div>
    {% endif %}
</div>


<!-- Modal window containing full list of tasks -->
<div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3 fw-bold text-white" id="exampleModalLabel"><i class="fa fa-tasks"></i> All Pending Tasks</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                <br>
                
            </div>

            <div class="modal-body">
                <p class="fs-6 text-white">
                    Any uncompleted task that is associated with a location you've unlocked will show up here.
                </p>

                <table class="task-table">
                    <thead>
                        <tr class="py-2">
                            <th scope="col">Category</th>
                            <th scope="col">Task</th>
                            <th scope="col">Location</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--Will show all of the user's tasks-->
                        {% for task in task_data %}
                            <tr>
                                <td><i class="{{ task.0 }}"></i> {{ task.1 }}</td>
                                <td>{{ task.2 }}</td>
                                <td>{{ task.3 }}</td>
                                {% url task.4 as go_url %}
                                <td><a class="btn btn-sm btn-secondary fw-bold rounded-pill" href="{{ go_url }}">Go</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <!--This button closes the window-->
                <button type="button" class="btn btn-danger rounded-pill fw-bold" data-bs-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
  
  



<!--
<a class="certificate-btn" href="#">Get Your Certificate</a>
Commented this out because there's no view function for the certificate page, so it doesn't open when 
the website is run with Django.
There probably shouldn't even be a button to the certificate page from the Home page, users are meant to
get the certificate by actually doing something.
-->

<p style="width: 100%;"><a href="{% url 'privacy_policy' %}" class="privacy-policy h5">Privacy Policy</a></p>
{% endblock %}