<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jumping Game</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'jumping_game/css/jumping_game.css' %}">
</head>
<body>
    <a id="homeButton" href="{% url 'home' %}">Home</a> <!--Home button-->

    <canvas id="canvas1"></canvas>
    <img id="playerImage" src="{% static 'jumping_game/images/dog.png' %}" alt="">
    <img id="backgroundImage1" src="{% static 'jumping_game/images/unterface1.png' %}" alt="">
    <img id="backgroundImage2" src="{% static 'jumping_game/images/unterface2.png' %}" alt="">
    <img id="backgroundImage3" src="{% static 'jumping_game/images/unterface3.png' %}" alt="">
    <img id="backgroundImage4" src="{% static 'jumping_game/images/unterface4.png' %}" alt="">
    <img id="bottleImage" src="{% static 'jumping_game/images/enemy1.png' %}" alt="">
    <img id="enemyImage" src="{% static 'jumping_game/images/trash-bin.png' %}" alt="">
    <img id="enemyImage2" src="{% static 'jumping_game/images/smoke3.png' %}" alt="">


    <!-- Should be using {{ game_data|json_script }}-->
    <script id="game-data" type="application/json">
        {"speedMultiplier_": 2.0, "enemySpawnRate_": 800, "level_": 1}
        
    </script>


    <script src="{% static 'jumping_game/js/jumping_game.js' %}"></script>
</body>
</html>