{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skoban Game - Admin Editor</title>
    <link rel="stylesheet" href="{% static 'game/css/Sokoban-game.css' %}">
    <link rel="stylesheet" href="{% static 'game/css/admin-page.css' %}">
</head>
<body>
<div class="header"><h1>Welcome, admin123</h1></div>
<div class="game-board">
    <div class="btn-container">
        <button id="save-level">§Save Level</button>
        <button id="add-new">+Add new level</button>
        <button id="delete-level">-Delete this level</button>
        <select name="" id="level-selector">
            <option value="1">level 1</option>
            <option value="2">level 2</option>
            <option value="3">level 3</option>
        </select>
    </div>

    <ul id="yxbox"></ul>
</div>

<script>
    class Sokoban {
        constructor(gameBoard) {
            this.gameBoard = gameBoard;
            this.levels = [];
            this.currentLevel = 0;
            this.player = null;
            this.boxes = [];
            this.targets = {};
            this.history = [];
            this.selectedElement = null;
        }


        loadLevels() {
            try {
                fetch('{% static "game/levels_admin.json" %}?t=' + Date.now())
                    .then(response => response.json())
                    .then(data => {
                        this.levels = data;
                        this.initLevel(this.currentLevel);

                    });
            } catch (error) {
                console.error('Failed to load level data:', error);
            }
        }


        initLevel(levelIndex) {
            this.gameBoard.innerHTML = "";
            this.history = [];
            this.targets = {};
            this.boxes = [];
            this.selectedElement = null;

            this.level = this.levels[levelIndex];

            document.title = `Editing Level: ${levelIndex + 1}`;
            const gridSize = Math.sqrt(this.level.map.length);
            this.gameBoard.style.width = `${gridSize * 128}px`;

            this.level.map.forEach((tile, index) => {
                const tileElement = document.createElement('li');
                tileElement.className = `pos${tile}`;
                tileElement.dataset.index = index;
                this.gameBoard.appendChild(tileElement);

                tileElement.addEventListener('click', () => {
                    this.selectedElement = tileElement;
                });
            });

            this.createPlayer(this.level.personPos);
            this.level.boxPos.forEach(pos => this.createBox(pos));

            document.addEventListener('keydown', (e) => this.modifyTile(e));

            this.generateSelector();
        }

        modifyTile(event) {

            if (!this.selectedElement) return;

            const index = this.selectedElement.dataset.index;
            const x = index % 8;
            const y = Math.floor(index / 8);


            if (event.key === '0') {//change to wall grey
                this.level.map[index] = 0;
                this.selectedElement.className = "pos0";
                console.log(`Changed (${x}, ${y}) to grey Wall (0)`);
            } else if (event.key === '1') {//change to wall red
                this.level.map[index] = 1;
                this.selectedElement.className = "pos1";
                console.log(`Changed (${x}, ${y}) to red Wall (1)`);
            } else if (event.key === '2') {// change to ground
                this.level.map[index] = 2;
                this.selectedElement.className = "pos2";
                console.log(`Changed (${x}, ${y}) to Floor (2)`);
            } else if (event.key === '3') {//change to target point
                this.level.map[index] = 3;
                this.selectedElement.className = "pos3";
                console.log(`Changed (${x}, ${y}) to target (3)`);
            } else if (event.key === '4') { // Add box
                this.level.map[index] = 2;  // change this block to ground
                this.selectedElement.className = "pos2";
                // make sure if this.level.boxPos is array
                if (!Array.isArray(this.level.boxPos)) {
                    this.level.boxPos = [];  // initial a null array
                }
                // add the location of box (x and y)
                this.level.boxPos.push({x, y});
                console.log(`Added Box at (${x}, ${y})`);
            } else if (event.key === '5') { // change person's location
                this.level.map[index] = 2;
                this.selectedElement.className = "pos2";
                this.level.personPos = {x, y};
                console.log(`Moved Player to (${x}, ${y})`);
            }
            this.refreshBoard();
        }

        createPlayer(position) {
            this.player = document.createElement('div');
            this.player.className = 'person1';
            this.player.dataset.index = "player";
            this.player.x = position.x;
            this.player.y = position.y;
            this.updatePosition(this.player);
            this.gameBoard.appendChild(this.player);

        }

        refreshBoard() {
            this.gameBoard.innerHTML = "";  // initial the map
            this.initLevel(this.currentLevel);  // reload current level
        }


        createBox(position) {
            const box = document.createElement('div');
            box.className = 'box';
            box.dataset.index = "box";
            box.x = position.x;
            box.y = position.y;
            this.updatePosition(box);
            this.boxes.push(box);
            this.gameBoard.appendChild(box);

            box.addEventListener('click', () => {
                this.selectedElement = box;
                this.level.boxPos = this.level.boxPos.filter(box => !(box.x === position.x && box.y === position.y));
                alert(` Box at (${position.x}, ${position.y}) Removed`);
                this.refreshBoard();
            });
        }

        updatePosition(obj) {
            obj.style.left = `${obj.x * 128}px`;
            obj.style.top = `${obj.y * 128}px`;
        }

        saveLevel() { //save changing info to json file
            fetch("/game/admin/", {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify(this.levels)
            })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    window.location.href = "/game/admin";
                })
                .catch(error => console.error("Error:", error));
        }

        generateSelector() {
            const selector = document.getElementById("level-selector");

            selector.innerHTML = "";
            for (let i = 1; i <= this.levels.length; i++) {
                const option = document.createElement("option");
                option.value = i;
                option.textContent = `Level - ${i}`;
                selector.appendChild(option);
            }
            selector.value = this.currentLevel + 1;
        }

        addNewLevel() {
            const gridSize = 8;  // 8x8 map
            let newMap = [];

            // generates the new level
            for (let y = 0; y < gridSize; y++) {
                for (let x = 0; x < gridSize; x++) {
                    if (x === 0 || x === gridSize - 1 || y === 0 || y === gridSize - 1) {
                        newMap.push(0);  // change the border of the level to 0（grey wall）
                    } else {
                        newMap.push(2);  // change the test to ground (2)
                    }
                }
            }

            // initial a null datastructure
            const newLevel = {
                map: newMap,
                boxPos: [],
                personPos: {x: 4, y: 4}
            };

            this.levels.push(newLevel);
            const newLevelIndex = this.levels.length - 1;
            this.currentLevel = newLevelIndex;

            //update the selector
            this.generateSelector();
            document.getElementById("level-selector").value = newLevelIndex + 1;

            //reload the new level just created
            this.initLevel(newLevelIndex);

        }

        deleteCurrentLevel() {
            if (this.levels.length <= 1) {
                alert("❌ Failed to delete the last remaining level!");
                return;
            }

            const confirmation = confirm(`⚠️ Are you sure you want to delete Level ${this.currentLevel + 1}?`);
            if (!confirmation) return;

            // remove current level
            this.levels.splice(this.currentLevel, 1);

            // get last `currentLevel`
            this.currentLevel = Math.max(0, this.currentLevel - 1);

            //update new selector
            this.generateSelector();
            document.getElementById("level-selector").value = this.currentLevel + 1;

            this.initLevel(this.currentLevel);

            alert(`Level ${this.currentLevel + 2} deleted. Now showing Level ${this.currentLevel + 1}`);
            this.saveLevel();
        }


    }

    const game = new Sokoban(document.getElementById('yxbox'));
    game.loadLevels();

    document.getElementById("save-level").addEventListener("click", () => {
        game.saveLevel();
    });

    document.getElementById("level-selector").addEventListener("change", function () {
        const selectedLevel = parseInt(this.value) - 1;
        game.currentLevel = selectedLevel;
        game.initLevel(selectedLevel);

        this.value = selectedLevel + 1;
    });

    document.getElementById("add-new").addEventListener("click", () => {
        game.addNewLevel();
    });

    document.getElementById("delete-level").addEventListener("click", () => {
        game.deleteCurrentLevel();
    });


</script>
</body>
</html>
