{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skoban Game</title>
    <link rel="stylesheet" href="{% static 'sokoban_game/css/Sokoban-game.css' %}">
</head>
<body>
<div class="header"><h1>ECO Mind Sokoban Game</h1></div>
<div class="game-board">
    <div class="btn-container">
        <div class="btn-left">
            <a id="home" href="{% url 'home' %}" style="background-color: red;">Home</a>
            <button id="music">Music</button>
            <button id="reset">Reset</button>
        </div>

        <h1 class="level-title" id="level-title">Current Level: 1</h1>
        
        <div class="btn-right">
            <!--
            <button id="pre-level">Previous Level</button>
            <button id="next-level">Next Level</button>
            -->
            <p id="step">Step: 12</p>
        </div>
        
    </div>

    <ul id="yxbox"></ul>
</div>


<script>

    const levels = JSON.parse('{{ levels|safe }}');  //get data from views.py

    function sendData(user_id, level, steps) {
        const now = new Date();
        var user_id = user_id;
        var level = level;
        var steps = steps;
        var score = steps < 40 ? 100 : 50;

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "", true);

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                console.log("Data sent successfully!");
            }
        };

        var formData = new FormData();
        formData.append("user_id", user_id);
        formData.append("level", level);
        formData.append("steps", steps);
        formData.append("score", score);

        xhr.send(formData);
    }

    document.getElementById("reset").addEventListener("click", function (e) {
        game.initLevel(game.currentLevel); // Reinitialize the current level
    });
    /*
    // Handle "Previous Level" button click event
    document.getElementById("pre-level").addEventListener("click", function (e) {
        if (game.currentLevel > 0) {
            game.currentLevel--; // Decrease level by 1
            game.initLevel(game.currentLevel); // Reinitialize the selected level
        } else {
            alert("This is the first level!");
        }
    });

    // Handle "Next Level" button click event
    document.getElementById("next-level").addEventListener("click", function (e) {
        if (game.currentLevel < game.levels.length - 1) {
            game.currentLevel++; // Increase level by 1
            game.initLevel(game.currentLevel); // Reinitialize the selected level
        } else {
            alert("This is the final level!");
        }
    });
    */

    class Sokoban {
        constructor(gameBoard) {
            this.gameBoard = gameBoard;
            this.levels = levels;
            this.currentLevel = 0;
            this.player = null;
            this.boxes = [];
            this.targets = {};
            this.history = [];

            // Sound effects
            this.sounds = {
                bgm: new Audio("{% static 'sokoban_game/mp3/background.mp3' %}"), // Background music
                push: new Audio("{% static 'sokoban_game/mp3/moveBox.wav' %}"), // Pushing box sound
                place: new Audio("{% static 'sokoban_game/mp3/target.wav' %}"), // Box placed on target sound
            };

            // Set background music to loop
            this.sounds.bgm.loop = true;
            this.sounds.bgm.volume = 0.5;
        }


        //Play sound effects
        playSound(sound) {
            if (this.sounds[sound]) {
                this.sounds[sound].currentTime = 0;
                this.sounds[sound].play();
            }
        }

        //Start background music
        startBGM() {
            this.sounds.bgm.play();
        }

        stopBGM() {
            this.sounds.bgm.pause();
        }

        // Initialize level
        initLevel(levelIndex) {
            if (!this.levels || this.levels.length === 0 || !this.levels[levelIndex]) {
                this.gameBoard.innerHTML = `
                    <div style="color: black; background-color: white; padding: 20px; text-align: center;">
                        <h2>Error: Levels doesn't exist</h2>
                        <p>Please contact the game admins</p>
                    </div>`;
                return;
            }
            document.getElementById('step').innerText = "Step: 0";
            document.getElementById('level-title').innerText = "Level " + (this.currentLevel + 1);
            this.gameBoard.innerHTML = "";
            this.history = [];
            this.targets = {};
            this.boxes = [];
            this.steps = 0; // Reset step count


            const level = this.levels[levelIndex];
            document.title = "Current Level: " + (levelIndex + 1);

            const gridSize = Math.sqrt(level.map_data.length);
            this.gameBoard.style.width = (gridSize * 128) + "px";

            // Render map
            level.map_data.forEach((tile, index) => {
                const tileElement = document.createElement('li');
                tileElement.className = "pos" + tile;
                this.gameBoard.appendChild(tileElement);

                // Store target positions
                if (tile === 3) {
                    this.targets[tileElement.offsetLeft + '_' + tileElement.offsetTop] = true;
                }
            });

            // Render player
            this.createPlayer(level.person_position);

            // Render boxes
            level.box_positions.forEach(pos => this.createBox(pos));
        }

        // Create player character
        createPlayer(position) {
            this.player = document.createElement('div');
            this.player.className = 'person1';
            this.player.x = position.x;
            this.player.y = position.y;
            this.updatePosition(this.player);
            this.gameBoard.appendChild(this.player);
        }

         updateBoxState() {
            this.boxes.forEach(box => {
                const boxPositionKey = box.offsetLeft + "_" + box.offsetTop;
                const wasOnTarget = box.classList.contains('onTarget'); // Was it on target before?

                if (this.targets[boxPositionKey]) {
                    box.classList.add('onTarget');
                    if (!wasOnTarget) this.playSound("place"); // Play sound only if newly placed
                } else {
                    box.classList.remove('onTarget');
                }
            });
        }

        // Create boxes
        createBox(position) {
            const box = document.createElement('div');
            box.className = 'box';
            box.x = position.x;
            box.y = position.y;
            this.updatePosition(box);
            this.boxes.push(box);
            this.gameBoard.appendChild(box);
            this.updateBoxState();
        }

        // Update object position
        updatePosition(obj) {
            obj.style.left = (obj.x * 128)+"px";
            obj.style.top = (obj.y * 128) + "px";
        }

        // Update box state and play sound effects


        // Handle player movement and direction
        movePlayer(direction) {


            const nextX = this.player.x + direction.x;
            const nextY = this.player.y + direction.y;
            const pushX = nextX + direction.x;
            const pushY = nextY + direction.y;

            const level = this.levels[this.currentLevel];
            const gridSize = Math.sqrt(level.map_data.length);
            if (level.map_data[nextY * gridSize + nextX] === 1 || level.map_data[nextY * gridSize + nextX] === 0) return;


            // Update player direction
            this.updatePlayerDirection(direction);

            // Check if a box is present
            const box = this.boxes.find(b => b.x === nextX && b.y === nextY);
            if (box) {

                const nextTile = level.map_data[pushY * gridSize + pushX];

                // If the box is blocked, do not move it
                if (nextTile === 1 || this.boxes.some(b => b.x === pushX && b.y === pushY)) return;

                this.playSound("push"); // Play pushing sound effect
                // Move box
                box.x = pushX;
                box.y = pushY;
                this.updatePosition(box);
                this.updateBoxState();
            }

            // Move player
            this.player.x = nextX;
            this.player.y = nextY;

            this.steps++;
            document.getElementById('step').innerText = "Step: " + this.steps;
            this.updatePosition(this.player);


            // Record move history
            this.history.push({
                playerPos: {x: this.player.x, y: this.player.y},
                boxes: this.boxes.map(b => ({x: b.x, y: b.y}))
            });

            // Check if level is completed
            if (this.boxes.every(function (box) {
                return this.targets[box.offsetLeft + "_" + box.offsetTop];
            }, this)) {
                this.nextLevel(); // do something else instead, like return to the previous page
                alert('Level Complete!');
            }
        }

        // Update player direction
        updatePlayerDirection(direction) {
            if (direction.x === -1) {
                this.player.style.backgroundPosition = "-128px 0"; // Left
            } else if (direction.x === 1) {
                this.player.style.backgroundPosition = "-384px 0"; // Right
            } else if (direction.y === -1) {
                this.player.style.backgroundPosition = "0 0"; // Up
            } else if (direction.y === 1) {
                this.player.style.backgroundPosition = "-256px 0"; // Down
            }
        }

        /*
        // Move to next level
        nextLevel() {
            const now = new Date();
            sendData(('user-'+now), this.currentLevel + 1, this.steps);//wait to change it to actual user_id or username...
            this.currentLevel++;
            if (this.currentLevel < this.levels.length) {
                this.initLevel(this.currentLevel);
            } else {
                alert('Congratulations! You completed all levels.');
                this.currentLevel = 0;
                this.initLevel(this.currentLevel);
            }
        }
        */

        // Undo last move
        undo() {
            if (this.history.length === 0) return;
            const lastMove = this.history.pop();
            this.player.x = lastMove.playerPos.x;
            this.player.y = lastMove.playerPos.y;
            this.updatePosition(this.player);

            this.boxes.forEach((box, i) => {
                box.x = lastMove.boxes[i].x;
                box.y = lastMove.boxes[i].y;
                this.updatePosition(box);
            });
            this.updateBoxState();
        }

        // Bind keyboard events
        bindEvents() {
            document.addEventListener('keyup', event => {
                const moves = {
                    37: {x: -1, y: 0}, // Left Arrow
                    38: {x: 0, y: -1}, // Up Arrow
                    39: {x: 1, y: 0}, // Right Arrow
                    40: {x: 0, y: 1}, // Down Arrow
                    90: () => this.undo(), // Z to undo
                };
                if (moves[event.keyCode]) {
                    this.movePlayer(moves[event.keyCode]);
                }
            });
        }
    }

    // Initialize game
    const game = new Sokoban(document.getElementById('yxbox'));
    let bgmCount = 0;
    let text = document.getElementById("music");

    function musicPause() {
        text.style.backgroundColor = "grey";
        text.style.textDecoration = "line-through";
    }

    function musicPlaying() {
        text.style.backgroundColor = "greenyellow";
        text.style.textDecoration = "none";
    }

    musicPause();

    document.getElementById("music").addEventListener("click", function (e) {
        bgmCount++;

        if (bgmCount % 2 === 0) {
            musicPause();
            game.stopBGM();
        } else {
            musicPlaying();
            game.startBGM();
        }

    });
    document.addEventListener("DOMContentLoaded", function () {

        let startX, startY, endX, endY;

        document.addEventListener("touchstart", function (event) {
            startX = event.touches[0].clientX;
            startY = event.touches[0].clientY;
        });

        document.addEventListener("touchend", function (event) {
            endX = event.changedTouches[0].clientX;
            endY = event.changedTouches[0].clientY;

            handleSwipe(startX, startY, endX, endY);
        });

        function handleSwipe(startX, startY, endX, endY) {
            let deltaX = endX - startX;
            let deltaY = endY - startY;
            let absDeltaX = Math.abs(deltaX);
            let absDeltaY = Math.abs(deltaY);

            if (absDeltaX > absDeltaY) {
                if (deltaX > 50) {//swipe right
                    moveRight();
                } else if (deltaX < -50) {//left
                    moveLeft();
                }
            } else {
                if (deltaY > 50) {//down
                    moveDown();
                } else if (deltaY < -50) {//up
                    moveUp();
                }
            }
        }

        function moveUp() {
            game.movePlayer({x: 0, y: -1});
        }

        function moveDown() {
            game.movePlayer({x: 0, y: 1});
        }

        function moveLeft() {
            game.movePlayer({x: -1, y: 0});
        }

        function moveRight() {
            game.movePlayer({x: 1, y: 0});
        }
    });

    game.initLevel(0);
    game.bindEvents();
</script>
</body>
</html>

