*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
}
#canvas1{
    border: 3px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
    max-height: 100%;
}
img{
    display: none;
}
#fullScreenButton{
    position: absolute;
    font-size: 20px;
    padding: 10px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#homeButton {
    /* Styles for the X (home) button */
    aspect-ratio: 1 / 1;
    position: absolute;
    height: 25px;
    width: 60px;
    background-color: red;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin: 5px;
}
#homeButton:hover {
    background-color: rgb(175, 0, 0);
    color: rgb(175, 134, 134);
}